<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <a href="http://localhost:5000/add_face">Add face</a>
    </div>
    <div>
        <a href="http://localhost:5000/add_faces_in_bulk">Add faces in bulk</a>
    </div>
    <div>
        <a href="http://localhost:5000/search_faces">Search faces</a>
    </div>
    <div>
        <a href="http://localhost:5000/get_face_info">get face info</a>
    </div>
    <div>
        <a href="http://localhost:5000/set_face_info">set face info</a>
    </div>
</body>

</html>