<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload files</title>
</head>
<body>
    <h1>Get face info</h1>
    <form method="post" enctype="application/json">
        <h2>ID</h2>
        <input type="text" name="id" id="id">
        <h2>version</h2>
        <input type="text" name="version" id="version">
        <h2>date</h2>
        <input type="text" name="date" id="date">
        <h2>location</h2>
        <input type="text" name="location" id="location">
        <input type="submit" value="Upload">
    </form>
</body>
</html>