<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload files</title>
</head>
<body>
    <h1>Upload image(single image)</h1>
    <form method="post" enctype="multipart/form-data">
        <h3>Name of person:</h3>
        <input type="text" name="name" id="name" required="true">
        <h3>File</h3>
        <input type="file" name="file" id="file" required="true">
        <br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>